.mlt-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: .18rem .24rem;
    background: #FA145F;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.mlt-header .logo {
    width: 25px;
    position: absolute;
}

.mlt-header .mlt-title {
    font-size: .35rem;
    color: white;
    width: 100%;
    text-align: center;
}

.mlt-header .mlt-search {
    background: url('../../../assets/images/search.png') 0 0 no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    background-size: 25px;
    position: absolute;
    right: .18rem;
}

.mlt .searchWrap.mask {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.mlt .searchWrap .search-page {
    position: absolute;
    right: 0;
    top: 0;
    width: 85%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: 3;
}

.mlt .searchWrap .search-header {
    padding: 6px 57px 6px 15px;
    position: relative;
}

.mlt .searchWrap .search-input {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border-radius: 15px;
    background: #f5f5f5;
    padding-left: 35px;
}

.mlt .searchWrap .search-icon {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../../../assets/images/search-input.png') 0 center no-repeat;
    background-size: 16px;
    position: absolute;
    left: 28px;
    top: 11px;
}

.mlt .searchWrap span {
    position: absolute;
    right: 10px;
    top: 12px;
}

.mlt .searchWrap .search-page {
    overflow-y: auto;
}

.mlt .searchWrap.search-panner {}

.mlt .searchWrap .search-item-name {
    padding-left: 15px;
    margin-right: 15px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.mlt .searchWrap .search-item-name .bg-icon {
    background: url('../../../assets/images/arrow-down.png') 0 0 no-repeat;
    background-size: 12px;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
}

.mlt .searchWrap .search-item-name.first {
    border-top: 1px solid #eee;
}

.mlt .searchWrap .search-item-name.active {
    color: #FA145F;
}

.mlt .searchWrap .search-item-name.active .bg-icon {
    background: url('../../../assets/images/arrow-up-active.png') 0 0 no-repeat;
    background-size: 12px;
}

.mlt .searchWrap .sort {
    text-indent: 30px;
    background: #f5f5f5;
    height: 40px;
    line-height: 40px;
    margin-top: 1px;
}

.mlt .searchWrap .search-panner .sort:nth-child(1) {
    margin-top: 0;
}

.mlt-home {
    position: relative;
}

.mlt-home img {
    width: 100%;
}

.mlt-home .swiper-pagination-bullet-active {
    background: red;
}

.mlt-home {
    background: #f5f5f5;
}

.mlt-home .p-item {
    margin-bottom: 10px;
    background: white;
}

.mlt-home .p-item a {
    display: block;
    position: relative;
}

.mlt-home .p-item .p-pic {
    height: 100%;
}

.mlt-home .p-item .p-info {
    position: absolute;
    top: 0;
    right: .14rem;
    width: 3.88rem;
    height: 100%;
}

.mlt-home .p-item .p-title {
    line-height: 18px;
    margin-top: .22rem;
}

.mlt-home .p-item .p-price {
    position: absolute;
    bottom: .22rem;
}

.mlt-home .p-item .p-price-new {
    color: #FA145F;
    font-size: 16px;
}

.mlt-home .p-item .p-price-old,
.p-comment {
    color: #999;
}

.mlt-home .p-item .p-price-old {
    text-decoration-line: line-through;
}