<div class="mlt-home">
    <div class="myslides">
        <ks-swiper-container [options]="swiperOptions">
            <ks-swiper-slide *ngFor="let item of imgArray">
                <img src="../../../assets/images/slider-img{{item}}.jpg">
            </ks-swiper-slide>
        </ks-swiper-container>
    </div>
    <ul class="p-list">
        <li class="p-item">
            <a routerLink="">
                <div class="p-pic">
                    <img src="../../../assets/images/pic1.jpg" alt="">
                </div>
                <div class="p-info">
                    <div class="p-title">这是商品名字</div>
                    <div class="p-price">
                        <span class="p-price-new">￥248</span>
                        <span class="p-price-old">￥538</span>
                        <div class="p-comment">2.1万条评论</div>

                    </div>
                </div>
            </a>
        </li>
        <li class="p-item">
            <a routerLink="">
                <div class="p-pic">
                    <img src="../../../assets/images/pic2.jpg" alt="">
                </div>
                <div class="p-info">
                    <div class="p-title">这是商品名字</div>
                    <div class="p-price">
                        <span class="p-price-new">￥248</span>
                        <span class="p-price-old">￥538</span>
                        <div class="p-comment">2.1万条评论</div>
                    </div>
                </div>
            </a>
        </li>
        <li class="p-item">
            <a routerLink="">
                <div class="p-pic">
                    <img src="../../../assets/images/pic1.jpg" alt="">
                </div>
                <div class="p-info">
                    <div class="p-title">这是商品名字</div>
                    <div class="p-price">
                        <span class="p-price-new">￥248</span>
                        <span class="p-price-old">￥538</span>
                        <div class="p-comment">2.1万条评论</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>

</div>