.mlt-container {
    padding: .85rem 0;
}

.mlt-container .swiper-slide img {
    width: 100%;
}

.mlt-container .swiper-pagination-bullet-active {
    background: #FA145F;
}


/* footer 尾部样式 */

.mlt-footer {
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mlt-footer .footer-item {
    width: 33%;
    text-align: center;
}

.mlt-footer .footer-item a {
    padding-top: 0.4rem;
    display: block;
    height: .7rem;
    box-sizing: border-box;
}

.mlt-footer .footer-item .home {
    background: url('../assets/images/icon_home.png') center 6px no-repeat;
}

.mlt-footer .footer-item .cart {
    background: url('../assets/images/icon_cart.png') center 6px no-repeat;
}

.mlt-footer .footer-item .my {
    background: url('../assets/images/icon_my.png') center 6px no-repeat;
}

.mlt-footer .footer-item .home-act {
    background: url('../assets/images/icon_home_active.png') center 6px no-repeat;
}

.mlt-footer .footer-item .cart-act {
    background: url('../assets/images/icon_cart_active.png') center 6px no-repeat;
}

.mlt-footer .footer-item .my-act {
    background: url('../assets/images/icon_my_active.png') center 6px no-repeat;
}

.mlt-footer .footer-item .active {
    color: #FA145F;
}