.mlt-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: .18rem .24rem;
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.mlt-header .logo {
    width: 25px;
    position: absolute;
}

.mlt-header .mlt-title {
    font-size: .35rem;
    color: white;
    width: 100%;
    text-align: center;
}

.mlt-my .login-box {
    height: 170px;
    background: linear-gradient(-204deg, #FD465F 0, #FC5E9F 100%);
    box-sizing: border-box;
    margin-top: -48px;
    overflow: hidden;
}

.mlt-my .portrait {
    margin-top: 55px;
}

.mlt-my .portrait img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.mlt-my .login {
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    position: relative;
}

.mlt-my .line {
    height: 20px;
    width: 1px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
}

.mlt-my .con {
    background: #f2f2ff;
    overflow: hidden;
}

.mlt-my .common {
    margin-top: 10px;
    background: white;
}

.mlt-my .order .title {
    height: 35px;
    line-height: 35px;
    padding-left: 8px;
    border-bottom: 1px solid #eaeaea;
}

.mlt-my .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}

.mlt-my .icon_order {
    background: url(../../../assets/images/icon_order.png) no-repeat 0 0;
    background-size: 20px;
}

.mlt-my .icon_right {
    background: url(../../../assets/images/icon_right.png) no-repeat 0 0;
    background-size: 15px;
    margin: 9px 5px 5px 5px
}